<div class="row center" id="topScreen">
    <h4 class="center">CHOICE PAGE 1</h4>
    <p>WHAT DO YOU DO???</p>
    
    <a href="/pathA">
    <button class="btn btn-success btn-lg">
    <span class="glyphicon glyphicon-list-alt"></span>Talk to the troll</button>
    {{!-- THIS GOES TO PATH A --}}
    </a>

        <a href="/pathB">
    <button class="btn btn-success btn-lg">
    <span class="glyphicon glyphicon-list-alt"></span>Pull out your weapon</button>
    {{!-- THIS GOES TO PATH B --}}
    </a>

        <a href="/pathC">
    <button class="btn btn-success btn-lg">
    <span class="glyphicon glyphicon-list-alt"></span>Burn the bridge</button>
    {{!-- THIS GOES TO PATH C --}}
    </a>
    
    

</div>