<div class="row center" id="topScreen">
    <h4 class="center">EXPO PAGE 1</h4>
    <a class="waves-effect waves-light btn-large internal-link">Start</a>
    <P>YOU SEE SOMETHING! IT'S A TROLL AND HE LOOKS MEAN AND NASTY</P>
    <a href="/CHOICEPAGE1">
        <button class="btn btn-success btn-lg">
            <span class="glyphicon glyphicon-list-alt"></span>CONTINUE</button>
    </a>
</div>