<!DOCTYPE html>
<html>

<head>
    <!--Import Google Icon Font-->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!--Import materialize.css-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/css/materialize.min.css">
    <script defer src="https://use.fontawesome.com/releases/v5.0.9/js/all.js" integrity="sha384-8iPTk2s/jMVj81dnzb/iFR2sdA7u06vHJyyLlAd4snFpCl/SnyUjRrbdJsw1pGIl"
        crossorigin="anonymous"></script>
    <!--Let browser know website is optimized for mobile-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="styles.css">
    <link href="https://fonts.googleapis.com/css?family=Press+Start+2P" rel="stylesheet">
    <title>Mongoose</title>
    <style rel="stylesheet" type="text/css">

    body, html {
    height: 100%;
}

body    {
            
            background-image:url('/assets/images/game.png');
            background-repeat: no-repeat;
            background-size: cover;
        }

        .center{
            font-family: 'Press Start 2P', cursive;
        }

    </style>
</head>

<body>
    <div class="container">
        <div class="row center" id="topScreen">
            <h4 class="center">The Troll's Toll</h4>
            <a href="/user" class="waves-effect waves-light btn-large internal-link">Start</a>
        </div>
    </div>
  
</body>

</html>