<!--stuff that will appear in main.handlebars-->
    <div class="container">
        <div class="row center" id="topScreen">
            <h4 class="center">Game Name</h4>
            <a class="waves-effect waves-light btn-large internal-link">Start</a>
            <a href="/user"><button class="btn btn-success btn-lg"><span class="glyphicon glyphicon-list-alt"></span>START</button></a>
        </div>
    </div> 