<div class="row center" id="topScreen">
    <h4 class="center">YOU'RE THE ONE!!!</h4>
    <P>As you remove the rubber ducky from your bag, questioning your sanity, you notice a look of absolute panic spread across the trolls face.</P>
    <a href="/pathF2">
        <button class="btn btn-success btn-lg">
            <span class="glyphicon glyphicon-list-alt"></span>continue?</button>
    </a>
</div>