<div class="row center" id="topScreen">
    <h4 class="center">Well it's better than nothing</h4>
    <P>The troll seems to misconstrue your holding of the sandwich as an offering of friendship, he takes the sandwich and eats it.</P>
    <a href="/pathC2">
        <button class="btn btn-success btn-lg">
            <span class="glyphicon glyphicon-list-alt"></span>continue?</button>
    </a>
</div>