<div class="row center" id="topScreen">
    <h4 class="center">YOU CHOSE THE BADGER?</h4>
    <P>Yeah I'm not exactly sure what you were expecting, the badger bites you and it hurts... alot.</P>
    <a href="/pathC2">
        <button class="btn btn-success btn-lg">
            <span class="glyphicon glyphicon-list-alt"></span>continue?</button>
    </a>
</div>