<div class="row center" id="topScreen">
    <h4 class="center">Well alls well that ends well I suppose.</h4>
    <P>You squeeze the duck and it squeaks.</P>
    <P>The troll immediately dies of a heart attack</P>
    <P>You savage.</P>


    <a href="/EXPO1">
        <button class="btn btn-success btn-lg">
            <span class="glyphicon glyphicon-list-alt"></span>restart?</button>
    </a>
</div>