<div class="row center" id="topScreen">
    <h4 class="center">PATH C</h4>
    <a class="waves-effect waves-light btn-large internal-link">Start</a>
    <P>You burn down the bridge and the troll seems quite proturbed. As you walk away you hear him singing...</P>
    <a href="/pathC2">
        <button class="btn btn-success btn-lg">
            <span class="glyphicon glyphicon-list-alt"></span>continue?</button>
    </a>
</div>