<div class="row center" id="topScreen">
    <h4 class="center">PATH C END</h4>
    <a class="waves-effect waves-light btn-large internal-link">Start</a>
    <P>"Never gonna give you up, never gonna let you down..."</P>
        <P>Conglaturations, you just got Rick Troll'd</P>

    <a href="/EXPO1">
        <button class="btn btn-success btn-lg">
            <span class="glyphicon glyphicon-list-alt"></span>restart?</button>
    </a>
</div>