<div class="row center" id="topScreen">
    <h4 class="center">PATH A</h4>
    <a class="waves-effect waves-light btn-large internal-link">Start</a>
    <P>You talk to the troll, he seems surprised.</P>
    <a href="/pathA">
        <button class="btn btn-success btn-lg">
            <span class="glyphicon glyphicon-list-alt"></span>continue?</button>
    </a>
</div>