<div class="row center" id="topScreen">
    <h4 class="center">WEAPON CHOICE PAGE</h4>
    <p>Yeah you screwed this one up pretty royally, you look through your bag and try to decide what to weild against the increasingly cross troll.</p>
    
    <a href="/pathD">
    <button class="btn btn-success btn-lg">
    <span class="glyphicon glyphicon-list-alt"></span>a rabid badger tied to a stick</button>
    {{!-- THIS GOES TO PATH A --}}
    </a>

        <a href="/pathE">
    <button class="btn btn-success btn-lg">
    <span class="glyphicon glyphicon-list-alt"></span>a club of the sandwich variety</button>
    {{!-- THIS GOES TO PATH B --}}
    </a>

        <a href="/pathF">
    <button class="btn btn-success btn-lg">
    <span class="glyphicon glyphicon-list-alt"></span>A rubber ducky</button>
    {{!-- THIS GOES TO PATH C --}}
    </a>
    
    

</div>