<div class="row center" id="topScreen">
    <h4 class="center">New buds</h4>
    <P>I guess you're friends now.</P>
    <a href="/EXPO1">
        <button class="btn btn-success btn-lg">
            <span class="glyphicon glyphicon-list-alt"></span>restart?</button>
    </a>
</div>