<div class="row center" id="topScreen">
    <h4 class="center">User Name Input Screen</h4>
    <a class="waves-effect waves-light btn-large internal-link">Start</a>
    <form>
        First name:
        <input type="text" name="FirstName" value="Mickey">
        <br> Last name:
        <input type="text" name="LastName" value="Mouse">
        <br>
        <input type="submit" value="Submit">
    </form>
    <a href="/EXPO1">
        <button class="btn btn-success btn-lg">
            <span class="glyphicon glyphicon-list-alt"></span>START</button>
    </a>

</div>