    
        <div class="row center" id="topScreen">
            <h4 class="center">User Name Input Screen</h4>
            <a class="waves-effect waves-light btn-large internal-link">Start</a>
            <a href="/userInputScreen"><button class="btn btn-success btn-lg"><span class="glyphicon glyphicon-list-alt"></span>START</button></a>
        </div>
    
