<!--a partial will fill in things that you may have an array of!-->
<li>
	{{burger_name}}

	<button class="change-devoured" data-id="{{id}}" data-newdevoured="{{devoured}}">
		{{#if devoured}}Eat the burger!{{else}}Get a new one!{{/if}}
	</button>
</li>
